# Titanic

Анализ данных файла "titanic.csv"

In [1]:
import numpy as np
import pandas as pd
import pylab as pl
import matplotlib.pyplot as plt
plt.style.use('ggplot')
%matplotlib inline
import seaborn as sns

data = pd.read_csv('/Users/giniatullinaalsuzamilevna/Desktop/Data/DATA-ANALYSYS_2-master/Dataset/titanic.csv',encoding="cp1251")

In [2]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 887 entries, 0 to 886
Data columns (total 8 columns):
Survived                   887 non-null int64
Pclass                     887 non-null int64
Name                       887 non-null object
Sex                        887 non-null object
Age                        887 non-null float64
Siblings/Spouses Aboard    887 non-null int64
Parents/Children Aboard    887 non-null int64
Fare                       887 non-null float64
dtypes: float64(2), int64(4), object(2)
memory usage: 55.6+ KB

In [3]:
data.shape

(887, 8)

Статистика по значениям признаков:

In [4]:
data.describe()

,Survived,Pclass,Age,Siblings/Spouses Aboard,Parents/Children Aboard,Fare
count,887.000000,887.000000,887.000000,887.000000,887.000000,887.00000
mean,0.385569,2.305524,29.471443,0.525366,0.383315,32.30542
std,0.487004,0.836662,14.121908,1.104669,0.807466,49.78204
min,0.000000,1.000000,0.420000,0.000000,0.000000,0.00000
25%,0.000000,2.000000,20.250000,0.000000,0.000000,7.92500
50%,0.000000,3.000000,28.000000,0.000000,0.000000,14.45420
75%,1.000000,3.000000,38.000000,1.000000,0.000000,31.13750
max,1.000000,3.000000,80.000000,8.000000,6.000000,512.32920

Проверка корреляции между признаками:

In [5]:
data_corr = data.corr()

data_corr

,Survived,Pclass,Age,Siblings/Spouses Aboard,Parents/Children Aboard,Fare
Survived,1.000000,-0.336528,-0.059665,-0.037082,0.080097,0.256179
Pclass,-0.336528,1.000000,-0.391492,0.085026,0.020252,-0.548919
Age,-0.059665,-0.391492,1.000000,-0.297669,-0.193741,0.112329
Siblings/Spouses Aboard,-0.037082,0.085026,-0.297669,1.000000,0.414244,0.158839
Parents/Children Aboard,0.080097,0.020252,-0.193741,0.414244,1.000000,0.215470
Fare,0.256179,-0.548919,0.112329,0.158839,0.215470,1.000000

Проверка на наличие пустых значений:

In [6]:
data.isnull().any().any()

False

Обучаем дерево решений:

In [15]:
x = data[['Survived',  'Pclass', 'Age', 'Siblings/Spouses Aboard', 'Parents/Children Aboard', 'Fare']]
y = data.values[::,7]
y=y.astype('int')

In [16]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(x, y, test_size = 0.3)

y_train = y_train.astype(int)
y_test = y_test.astype(int)

In [95]:
from sklearn.tree import DecisionTreeClassifier

tree = DecisionTreeClassifier(max_depth=11, random_state=2, criterion='gini')
tree.fit(X_train, y_train)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=11,
                       max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort=False,
                       random_state=2, splitter='best')

In [96]:
from sklearn.tree import export_graphviz

import subprocess

export_graphviz(tree, out_file='/Users/giniatullinaalsuzamilevna/Desktop/Data/DATA-ANALYSYS_2-master/DZ/HW3/Titanic/titanic.dot', 
               rounded = True, proportion = False, 
                precision = 2, filled = True)

import pydot 
(graph, ) = pydot.graph_from_dot_file('/Users/giniatullinaalsuzamilevna/Desktop/Data/DATA-ANALYSYS_2-master/DZ/HW3/Titanic/titanic.dot')

graph.write_png('/Users/giniatullinaalsuzamilevna/Desktop/Data/DATA-ANALYSYS_2-master/DZ/HW3/Titanic/titanic.png')

<img src="titanic.png">

In [97]:
from sklearn.metrics import classification_report, accuracy_score

clf = tree.fit(X_train, y_train)
y_pred = clf.predict(X_test)
result1 = classification_report(y_test, y_pred)
print("Отчет о классификации :",)
print (result1)
result2 = accuracy_score(y_test,y_pred)
print("Accuracy:",result2)

Отчет о классификации :
              precision    recall  f1-score   support

           0       1.00      1.00      1.00         4
           6       1.00      1.00      1.00         3
           7       1.00      1.00      1.00        69
           8       1.00      1.00      1.00        21
           9       1.00      1.00      1.00         6
          10       1.00      1.00      1.00         9
          11       1.00      1.00      1.00         5
          12       1.00      1.00      1.00         2
          13       1.00      1.00      1.00        13
          14       1.00      1.00      1.00         6
          15       1.00      1.00      1.00        13
          16       1.00      1.00      1.00         4
          17       0.00      0.00      0.00         1
          18       0.00      0.00      0.00         3
          19       0.00      0.00      0.00         3
          20       0.22      1.00      0.36         2
          21       0.25      1.00      0.40         1
          22       0.00      0.00      0.00         1
          23       0.00      0.00      0.00         2
          24       1.00      1.00      1.00         3
          25       1.00      1.00      1.00         1
          26       1.00      1.00      1.00        15
          27       1.00      1.00      1.00         4
          28       1.00      1.00      1.00         1
          30       1.00      1.00      1.00         3
          31       1.00      1.00      1.00         6
          32       0.00      0.00      0.00         1
          33       0.14      1.00      0.25         1
          34       0.00      0.00      0.00         1
          35       0.00      0.00      0.00         2
          36       0.00      0.00      0.00         1
          37       0.00      0.00      0.00         1
          39       0.75      1.00      0.86         3
          40       0.00      0.00      0.00         1
          41       0.00      0.00      0.00         1
          46       0.33      1.00      0.50         2
          47       0.00      0.00      0.00         1
          49       0.00      0.00      0.00         1
          50       0.00      0.00      0.00         1
          51       0.00      0.00      0.00         2
          52       0.33      1.00      0.50         1
          53       0.00      0.00      0.00         3
          55       0.00      0.00      0.00         2
          56       0.38      1.00      0.55         3
          59       0.00      0.00      0.00         1
          61       0.00      0.00      0.00         1
          66       0.00      0.00      0.00         1
          69       0.00      0.00      0.00         4
          71       0.00      0.00      0.00         1
          73       0.00      0.00      0.00         2
          76       0.00      0.00      0.00         1
          78       0.00      0.00      0.00         2
          79       0.00      0.00      0.00         0
          81       0.00      0.00      0.00         1
          83       0.00      0.00      0.00         1
          86       0.00      0.00      0.00         2
          91       0.00      0.00      0.00         1
          93       0.00      0.00      0.00         1
         106       0.00      0.00      0.00         1
         110       0.00      0.00      0.00         2
         113       0.00      0.00      0.00         1
         120       0.00      0.00      0.00         2
         135       0.00      0.00      0.00         1
         146       0.00      0.00      0.00         2
         151       0.00      0.00      0.00         2
         164       0.00      0.00      0.00         1
         211       0.00      0.00      0.00         2
         227       0.00      0.00      0.00         2
         247       0.00      0.00      0.00         1
         512       0.00      0.00      0.00         2

    accuracy                           0.75       267
   macro avg       0.31      0.37      0.32       267
weighted avg       0.72      0.75      0.73       267

Accuracy: 0.7528089887640449

/opt/anaconda3/lib/python3.7/site-packages/sklearn/metrics/classification.py:1437: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples.
  'precision', 'predicted', average, warn_for)
/opt/anaconda3/lib/python3.7/site-packages/sklearn/metrics/classification.py:1439: UndefinedMetricWarning: Recall and F-score are ill-defined and being set to 0.0 in labels with no true samples.
  'recall', 'true', average, warn_for)

Проверяем точность на обучающей и тестовой выборке:

In [98]:
tree.score(X_train, y_train)

0.8016129032258065

In [99]:
tree.score(X_test,y_test)

0.7528089887640449